* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-timing-function: cubic-bezier(0, 0.7, 0.58, 1);
          transition-timing-function: cubic-bezier(0, 0.7, 0.58, 1);
}

html,
body {
  width: 100%;
  height: auto;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  letter-spacing: 0.14rem;
  line-height: 1.8rem;
}

a, a:link {
  text-decoration: none;
  color: #ffffff;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date],
select {
  width: auto;
  padding: 9px 10px;
  font-size: 1.2rem;
  margin: 12px 0px;
  display: inline-block;
  border: 3px solid #819595;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0%;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0%;
  }
}

@-webkit-keyframes slideUpCustom {
  0% {
    -webkit-transform: translate(-50%, calc(-50% + 100px));
            transform: translate(-50%, calc(-50% + 100px));
    opacity: 0%;
  }
}

@keyframes slideUpCustom {
  0% {
    -webkit-transform: translate(-50%, calc(-50% + 100px));
            transform: translate(-50%, calc(-50% + 100px));
    opacity: 0%;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0%;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0%;
  }
}

@-webkit-keyframes slideLeftCustom {
  0% {
    -webkit-transform: translateX(calc(-50% + 100px));
            transform: translateX(calc(-50% + 100px));
    opacity: 0%;
  }
}

@keyframes slideLeftCustom {
  0% {
    -webkit-transform: translateX(calc(-50% + 100px));
            transform: translateX(calc(-50% + 100px));
    opacity: 0%;
  }
}

.NavBar {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10;
  top: 20px;
  -webkit-animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideDown;
          animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideDown;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
}

.NavBar ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row-gap: 50px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.NavBar ul li {
  padding: 7px 0px;
  background: #363946;
  -webkit-transition: background 1s;
  transition: background 1s;
  text-align: center;
  font-weight: 500;
}

.NavBar ul li:hover {
  background: #b1b6a6;
}

.Homepage {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(105, 103, 115, 0.5))), url("/src/images/mainpagebg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(105, 103, 115, 0.5)), url("/src/images/mainpagebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Homepage .title-wrapper {
  -webkit-animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideRight;
          animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideRight;
  position: absolute;
  top: 50%;
  left: 30px;
  line-height: 5rem;
}

.Homepage .title-wrapper h1 {
  font-weight: 100;
  font-size: 5rem;
}

.Homepage .title-wrapper p {
  margin-left: 50px;
  font-size: 2rem;
}

.Loginpage {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(105, 103, 115, 0.5))), url("/src/images/background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(105, 103, 115, 0.5)), url("/src/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Loginpage .login-wrapper {
  -webkit-animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideUpCustom;
          animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideUpCustom;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #363946;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'input';
  gap: 20px;
  padding: 20px 20px;
  text-align: center;
  border-radius: 3%;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);
}

.Loginpage .login-wrapper h1 {
  margin-top: 12px;
  font-weight: 100;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.Loginpage .login-wrapper .form-wrapper {
  padding: 0px 20px;
  margin-bottom: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input;
}

.Loginpage .login-wrapper .form-wrapper form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'x x' 'y y' 'z z' 'but but';
  gap: 10px;
}

.Loginpage .login-wrapper .form-wrapper form input[type=text] {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: x;
}

.Loginpage .login-wrapper .form-wrapper form input[type=password] {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: y;
}

.Loginpage .login-wrapper .form-wrapper form input[type=password]:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: z;
}

.Loginpage .login-wrapper .form-wrapper form #3, .Loginpage .login-wrapper .form-wrapper form #4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: but;
}

.Loginpage .login-wrapper .form-wrapper button[type=submit] {
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 8px 12px;
  background-color: #819595;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: brightness;
  transition: brightness;
}

.Loginpage .login-wrapper .form-wrapper button[type=submit]:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.Loginpage .login-wrapper .form-wrapper button {
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.Quotehistory {
  position: absolute;
  top: 120px;
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideDown;
          animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideDown;
}

.Quotehistory h1 {
  width: 100%;
  background-color: #819595;
  padding: 20px 10px;
}

.Quotehistory table {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 80px 0px;
  width: 100%;
  border: 3px solid #ffffff;
  border-collapse: collapse;
}

.Quotehistory table th {
  background-color: #363946;
  border: 3px solid #ffffff;
}

.Fuelquote {
  position: absolute;
  top: 120px;
  -webkit-animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideDown;
          animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideDown;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header' '. x .';
}

.Fuelquote h1 {
  width: 100%;
  background-color: #819595;
  padding: 20px 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  text-align: center;
}

.Fuelquote form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: x;
  padding: 20px;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'label1 input1' 'label2 input2' 'label3 input3' '. .' 'label4 label5';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-rows: 1fr;
  gap: 20px;
}

.Fuelquote form label, .Fuelquote form input {
  padding: 4px 20px;
}

.Fuelquote form label {
  font-weight: 500;
  font-size: 1.3rem;
}

.Fuelquote form input[type=number] {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input1;
  height: 100%;
}

.Fuelquote form input[type=date] {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: input2;
  height: 100%;
}

.Fuelquote form input[type=text] {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: input3;
  height: 100%;
}

.Fuelquote form .form-label-quote:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: label1;
}

.Fuelquote form .form-label-quote:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: label2;
}

.Fuelquote form .form-label-quote:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: label3;
}

.Fuelquote form #pricelabel1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: label4;
  background-color: #363946;
}

.Fuelquote form #pricelabel2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: label5;
  text-align: right;
  background-color: #696773;
}

.Clientpage {
  background: -webkit-gradient(linear, left top, right top, from(rgba(129, 149, 149, 0.8)), to(rgba(177, 182, 166, 0.8)));
  background: linear-gradient(90deg, rgba(129, 149, 149, 0.8) 0%, rgba(177, 182, 166, 0.8) 100%);
  width: 100%;
  height: 100vh;
}

.Clientpage .client-wrapper {
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideLeftCustom;
          animation: 1s cubic-bezier(0, 0.7, 0.58, 1) 0s 1 slideLeftCustom;
  height: auto;
  width: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'input';
  gap: 20px;
  padding: 20px 20px;
  background-color: rgba(54, 57, 70, 0.6);
  border-radius: 1%;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  justify-items: start;
}

.Clientpage .client-wrapper h1 {
  width: 100%;
  padding: 20px 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  font-weight: 100;
  text-align: center;
}

.Clientpage .client-wrapper form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'label1 input1' 'label2 input2' 'label3 input3' 'label4 input4' 'label5 label6' 'input5 input6' 'but but';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.Clientpage .client-wrapper form label {
  font-size: 1.3rem;
}

.Clientpage .client-wrapper form button[type=submit] {
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 8px 12px;
  background-color: #819595;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: brightness;
  transition: brightness;
}
/*# sourceMappingURL=index.css.map */