body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #4d4d4d;
  }
  
  #title {
    text-align: center;
  }
  
  #customer {
    border-collapse: collapse;
    border: 3px solid #ddd;
  }
  
  #customer td,
  #customer th {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  #customer tr:hover {
    background-color: #ddd;
  }
  
  #customer th {
    padding: 10px;
    text-align: center;
    background-color: #282a35;
    color: white;
  }
  
  .opration {
    text-align: center;
  }
  
  .button {
    border: none;
    outline: none;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f44336;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f44336;
    background-color: transparent;
  }
  
  .button:active {
    border: 1px solid blue;
  }